<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases>
#foreach($aliases in $typeAliases)
    <typeAlias type="${aliases.type}" alias="${aliases.alias}"/>
#end
  </typeAliases>

  <mappers>
#foreach($mapper in $mappers)
    <mapper resource="${mapper}"/>
#end
  </mappers>
</configuration>